@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Inconsolata:wght@600&family=Itim&family=Pacifico&family=Pangolin&family=Roboto:wght@500&family=Space+Mono:wght@700&display=swap');
.pro{
    height: 150px;
    width: 300px;
    border: 3px solid black;
    margin-left: 50px;
}

.info{
    margin-left: 50px;
    text-align: center;
    width: 70%;
}

.flex {
    
    margin-top: 30px;
    margin-left: 150px;
   // border: 2px solid #A69BB6;
    border-radius: 4px;
    display: flex;
    font-family: 'Pangolin', cursive;
    letter-spacing: 1px;
   // justify-content: space-around;
    height: 250px;
    width: 85%;
    align-items: center;
    color: #A69BB6;
    font-size: 17px;

}
h3{
    margin-left: 40px;
}

.spo{
    margin: 20px 20px;
    border: 2px solid black;
    padding : 5px;
    color: white;
    border-radius: 30px;
}

.spo:hover{
    background-color: #A69BB6;
}

.head{
    color: #A69BB6;
    font-size: 30px;
    width: 400px;
    letter-spacing: 1px;
    font-family: 'Pangolin', cursive;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline ;
}

// @media (max-width:2000px){
    
//         .p1
//         {
//             .flex{
//             display: flex;
//             flex-direction: column;
//             align-items: center ;
           
//         }
        
//         margin-left: 25%;
//         .fo{
//             display:none;
//         }
    
//         }
//         .p2
//         {
//             margin-top: 18%;
//             margin-left: 18%;
//         }

        
//     }
