.logo-container{
    z-index:0;
    width: 600px;
    height: 609px;
    position: absolute;
    top:0;
    right: 10%;
    bottom: 0;
    left: auto;
    margin: 0;
    opacity : 0;


}

.svg-container{
    stroke: #DD58D6;
    stroke-width: 10px;
}