.stage-cube-cont{
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
}
p{
    text-align: justify;
}
.head{
    font-size:30px;
    color: #DD58D6;
    margin-left: 30px;
    text-transform: capitalize;
}

.logocode{
    color: #DD58D6;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #DD58D6;
    margin-top: 5px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    margin-left: 80px;
    border-radius: 7px;
    &:hover{
        background: #DD58D6;
        color: #333;
    }
}

.logocod{
    color: #DD58D6;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #DD58D6;
    margin-top: 5px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    margin-left: 30px;
    border-radius: 7px;
    &:hover{
        background: #DD58D6;
        color: #333;
    }
}



.cubespinner{
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
    div{
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255,255,255,0.4);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightpink;
    }

    .face1{
        transform: translateZ(100px);
    }

    .face2{
        transform: rotateY(90deg) translateZ(100px);
    }

    .face3{
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }

    .face4{
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }

    .face5{
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }

    .face6{
        transform: rotateX(-90deg) translateZ(100px);
    }


}

@keyframes spincube{
    from,
    to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16%{
        transform: rotateY(-90deg);
    }
    33%{
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50%{
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66%{
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83%{
        transform: rotateX(90deg);
    }
}

@media (max-width: 1312px) and (min-width: 1181px){
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .text-zone{
            .head{
                font-size: 3vh;
                margin-left: 4%;;
            }
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 8%;
            width: 300px;
            margin-top: -7%;
        }
        .logocod{
            width: 300px;
            margin-top: -7%;
        }
    }
}
@media (max-width: 1180px) and (min-width: 1150px) {
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .text-zone{
            .head{
                font-size: 3vh;
                margin-left: 4%;;
            }
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 4%;
            width: 300px;
            margin-top: -7%;
        }
        .logocod{
            width: 300px;
            margin-top: -7%;
        }
    }
}

@media (max-width: 1230px) and (min-width: 1130px) {
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .text-zone{
            top: 45%;
            .head{
                font-size: 3vh;
                margin-left: -1%;
                margin-top: 0%;
            }
            .hedo{
                margin-bottom: -2%;
            }
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 2%;
            width: 300px;
            margin-top: -7%;
        }
        .logocod{
            width: 300px;
            margin-top: -7%;
        }
    }
}


@media (max-width: 1130px) and (min-width: 1095px) {
    .about-page{
        display: flex;
        .text-zone{
            width: 40%;
            top: 43%;
            .head{
                font-size: 3vh;
                margin-left: -1%;;
                margin-top: 0%;
            }
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 2%;
            width: 300px;
            margin-top: -7%;
        }
        .logocod{
            width: 300px;
            margin-top: -7%;
        }
    }
}


@media (max-width: 1095px) and (min-width: 950px) {
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        // overflow-y: hidden;
        .text-zone{
            width: 40%;
            margin-left: 5%;
            margin-top: -3%;
            height: 100%;
            .head{
                font-size: 3vh;
                margin-left: -2%;
                margin-top: 0%;
            }
            .hido{
                //display: none;
            }
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 2%;
            width: 300px;
            margin-top: -10%;
        }
        .logocod{
            width: 300px;
            margin-top: -10%;
        }
    }
}

@media (max-width: 950px) and (min-width: 862px){
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        .text-zone{
            width: 40%;
            margin-left: 5%;
            top: 43%;
            .hedo{
                margin-left: -20%;
                margin-bottom: -2%;
            }
            .head{
                font-size: 3vh;
                margin-left: -5%;;
                margin-top: 0%;
            }
        }
        .stage-cube-cont{
            margin-top: 5%;
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 2%;
            width: 300px;
            margin-top: -10%;
        }
        .logocod{
            width: 300px;
            margin-top: -10%;
        }
    }
}


@media (max-width: 862px) and (min-width: 682px) {
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        // display: flex;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 70%;
            margin-top: 13%;
            margin-left: 10%;
            .head{
                font-size: 3vh;
                margin-left: 15%;;
                margin-top: -1%;
                //margin-bottom: -0%;
            }
            .hedo{
                margin-bottom: 6%;
                font-size: 5vh;
            }
            .hide{
                display: none;
            }
            .para{
                margin-top: -5%;
            }
        }
        .stage-cube-cont{
            margin-top: -15%;
            margin-right: 18%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 2%;
            width: 300px;
            margin-top: -5%;

        }
        .logocod{
            width: 300px;
            margin-top: -5%;
        }
    }
}


@media (max-width: 682px) and (min-width: 591px) {
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        // display: flex;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 70%;
            margin-top: 18%;
            margin-left: 10%;
            .head{
                font-size: 3vh;
                margin-left: 5%;;
                margin-top: 0%;
            }
            .hedo{
                margin-bottom: -2%;
                font-size: 5vh;
            }
            .hide{
                display: none;
            }
        }
        .stage-cube-cont{
            margin-top: -18%;
            margin-right: 18%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 2%;
            width: 300px;
            margin-top: -10%;
        }
        .logocod{
            width: 300px;
            margin-top: -10%;
        }
    }
}
@media (max-width: 591px) and (min-width: 530px) {
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        // display: flex;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 70%;
            margin-top: 21%;
            margin-left: 13%;
            .head{
                font-size: 3vh;
                margin-left: 0%;;
                margin-top: -1%;
            }
            .hedo{
                margin-bottom: 0%;
                font-size: 5vh;
                margin-left: -10%;
            }
            .hide{
                display: none;
            }
        }
        .stage-cube-cont{
          //  display: none;
            margin-top: -20%;
            margin-right: 18%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 2%;
            width: 300px;
            margin-top: -12%;

        }
        .logocod{
            width: 300px;
            margin-top: -12%;
        }
    }
}


@media (max-width: 530px) and (min-width: 504px){
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        // display: flex;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 70%;
            margin-top: 23%;
            margin-left: 14%;
           // top: 100%;
            .head{
                font-size: 3vh;
                margin-left: -5%;;
                margin-top: 0%;
               
            }
            .hedo{
                margin-bottom: -2%;
                font-size: 5vh;
                margin-left: -10%;
            }
            .hide{
                display: none;
            }
        }
        .stage-cube-cont{
            // display: none;
            margin-top: -17%;
            margin-right: 16%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 2%;
            width: 300px;
            margin-top: -10%;

        }
        .logocod{
            width: 300px;
            margin-top: -10%;
        }
    }
}


@media (max-width: 504px) and (min-width: 475px) {
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        // display: flex;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 73%;
            margin-top: 21%;
            margin-left: 13%;
            .head{
                font-size: 3vh;
                margin-left: -5%;;
                margin-top: -2%;
            }
            .hedo{
                margin-bottom: -2%;
                font-size: 3vh;
                margin-left: -10%;
            }
            .hide{
                display: none;
            }
        }
        .stage-cube-cont{
          //  display: none;
            margin-top: -18%;
            margin-right: 16%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 2%;
            width: 300px;
            margin-top: -10%;
        }
        .logocod{
            width: 300px;
            margin-top: -10%;
        }
    }
}


@media (max-width: 475px) and (min-width: 455px) {
    .about-page{
        overflow-x: hidden;
        overflow-y: hidden;
        // display: flex;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 73%;
            margin-top: 24%;
            margin-left: 14%;
            .head{
                font-size: 3vh;
                margin-left: -7%;;
                margin-top: 0%;
            }
            .hedo{
                font-size: 3vh;
                margin-left: -10%;
                margin-bottom: 0%;
            }
            .hide{
                display: none;
            }
        }
        .stage-cube-cont{
          //  display: none;
            margin-top: -18%;
            margin-right: 14%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: row;
        .logocode{
            margin-left: 0%;
            width: 300px;
            margin-top: -8% ;

        }
        .logocod{
            width: 300px;
            margin-top: -8% ;
        }
    }
}


@media (max-width: 455px) and (min-width: 420px) {
    .about-page{
        // display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 65%;
            margin-top: -8%;
            margin-left: 18%;
            .head{
                font-size: 2vh;
                margin-left: -24%;;
                margin-top: 0%;
            }
            .hedo{
                margin-left: -14%;
                margin-bottom: -5%;
                font-size: 5vh;
            }
            .hide{
              //  display: none;
            }
        }
        .stage-cube-cont{
           display: none;
            margin-top: -14%;
            margin-right: 9%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: column;
        .logocode{
            margin-left: 5%;
            width: 220px;
            margin-top: -14%;
        }
        .logocod{
            margin-left: 5%;
            width: 220px;
            
        }
    }
}

@media (max-width: 420px) and (min-width: 385px)  {
    .about-page{
        // display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 65%;
            margin-top: -9%;
            margin-left: 20%;
            .head{
                font-size: 2vh;
                margin-left: -27%;;
                margin-top: -1%;
            }
            .hedo{
                font-size: 5vh;
                margin-left: -12%;
                margin-bottom: -4%;
            }
            .hido{
               display: none;
            }
        }
        .stage-cube-cont{
           display: none;
            margin-top: -14%;
            margin-right: 9%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: column;
        .logocode{
            margin-left: 4%;
            width: 200px;
            margin-top: -15%;
        }
        .logocod{
            margin-left: 4%;
            width: 200px;
            
        }
    }
}

@media (max-width: 385px)  and (min-width: 347px) {
    .about-page{
        // display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 65%;
            margin-top: -20%;
            margin-left: 20%;
            .head{
                font-size: 2vh;
                margin-left: -34%;
                margin-top: -2%;
               

            }
            .hedo{
                margin-left: -12%;
                margin-bottom: -4%;
                font-size: 5vh;
            }
            .hide{
               display: none;
            }
        }
        .stage-cube-cont{
           display: none;
            margin-top: -14%;
            margin-right: 9%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: column;
        .logocode{
            margin-top: -15%;
            margin-left: 10%;
            width: 150px;

        }
        .logocod{
            margin-left: 10%;
            width: 150px;
            
        }
    }
}

@media (max-width: 347px) and (min-width: 328px) {
    .about-page{
        // display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 63%;
            margin-top: -10%;
            margin-left: 23%;
            .head{
                font-size: 2vh;
                margin-left: -40%;;
                margin-top: 0%;
            }
            .hedo{
                margin-left: -15%;
                font-size: 5vh;
                margin-bottom: 0%;
            }
            .hide{
               display: none;
            }
        }
        .stage-cube-cont{
           display: none;
            margin-top: -14%;
            margin-right: 9%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: column;
        .logocode{
            margin-left: 5%;
            width: 150px;
            margin-top: -10%;
        }
        .logocod{
            margin-left: 5%;
            width: 150px;
            
        }
    }
}


@media (max-width: 328px) and (min-width: 320px) {
    .about-page{
        // display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 60%;
            margin-top: -6%;
            margin-left: 26%;
            .head{
                font-size: 1.7vh;
                margin-left: -50%;
                margin-top: 0%;

            }
            .hedo{
                margin-left: -19%;
                font-size: 4vh;
                margin-bottom: 0%;
            }
            .hide{
               display: none;
            }
        }
        .stage-cube-cont{
           display: none;
            margin-top: -14%;
            margin-right: 9%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: column;
        .logocode{
            margin-left: 5%;
            width: 150px;
            margin-top: -17%;

        }
        .logocod{
            margin-left: 5%;
            width: 150px;
            
        }
    }
}

@media (max-width: 320px) and (min-width: 302px) {
    .about-page{
        // display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 60%;
            margin-top: -10%;
            margin-left: 26%;
            .head{
                font-size: 1.9vh;
                margin-left: -56%;;
                margin-top: 5px;

            }
            .hedo{
                margin-left: -19%;
                font-size: 4vh;
                margin-bottom: 0%;
            }
            .hide{
               display: none;
            }
            p{
                font-size: 15px;
            }
        }
        .stage-cube-cont{
           display: none;
            margin-top: -14%;
            margin-right: 9%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: column;
        .logocode{
            margin-left: 10%;
            width: 120px;
            margin-top: -17%;

        }
        .logocod{
            margin-left: 10%;
            width: 120px;
            
        }
    }
}

@media (max-width: 302px) and (min-width: 270px) {
    .about-page{
        // display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        // flex-direction: column-reverse;
        .text-zone{
            // display: flex;
            width: 60%;
            margin-top: -14%;
            margin-left: 27%;
            margin-right: -7%;
            .head{
                font-size: 1.6vh;
                margin-left: -65%;;
                margin-top: -6%;

            }
            .hedo{
                margin-left: -19%;
                font-size: 3vh;
                margin-bottom: -2%;
            }
            .hide{
               display: none;
            }
            p{
                font-size: 15px;
            }
        }
        .stage-cube-cont{
           display: none;
            margin-top: -14%;
            margin-right: 9%;
            height: 50%;
        }
    }
    .chu{
        display: flex;
        flex-direction: column;
        .logocode{
            margin-left: 4%;
            width: 120px;
            margin-top: -25%;

        }
        .logocod{
            margin-left: 4%;
            width: 120px;
            
        }
    }
}


