.contact-form{
    width: 100%;
    margin-top: 20px;
    height: 100%;
    ul{
        padding: 0;
        margin: 0;
        li{
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            clear: both;
        }
        li.half{
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;
            &:first-child{
                margin-left:0;
            }
        }
    }
    input[type='text'],
    input[type='email']{
        width: 100%;
        border:0;
        background: #4e386d;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;

    }
    textarea{
        width: 100%;
        border:0;
        background: #4e386d;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        min-height:150px;
        box-sizing: border-box;
    }
    .flat-button{
        color: #DD58D6;
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding:8px 10px;
        border: 1px solid #DD58D6;
        float:right;
        border-radius: 4px;
    }
}

.info-map{
    position: absolute;
    background-color: #000;
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    
    span{
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color:#DD58D6;
    }
}

.map-wrap{
     background: #381F5b;
     float: right;
     width: 52%;
     height: 100%;
    // margin-left: 50px;
    }

.leaflet-container{
    width: 100%;
    height: 100%;
    position: relative;

}
.container{
    position: relative;
}

@media (max-width: 1396px) and (min-width: 1055px) {
    .contact-page{
        .info-map{
           left: 50%;
        }
        .text-zone{
            width: 35%;
            margin-left: 1%;
            .har{
                margin-left: -10%;
            }
        }
    }
}

@media (max-width: 1055px) and (min-width: 945px) {
    .contact-page{
        overflow-y: hidden;
        overflow-x: hidden;
        .info-map{
           left: 55%;
        }
        .map-wrap{
            width: 48%;
        }
        .text-zone{
            width: 40%;
            margin-left: 1%;
        }
    }
}

@media (max-width: 954px) and (min-width: 806px) {
    .contact-page{
        overflow-y: hidden;
        overflow-x: hidden;
        .info-map{
           left: 55%;
        }
        .map-wrap{
            width: 48%;
        }
        .text-zone{
            width: 37%;
            margin-left: 3%;
            top: 45%;
            .har{
                margin-left: -10%;
            }
            p{
                margin-top: -13%;
            }
        }
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            li.half{
                width: 100%;
                margin-left: 0;
            }
            
        }
        
    
    }
}

@media (max-width: 806px) and (min-width: 740px) {
    .contact-page{
        overflow-y: hidden;
        overflow-x: hidden;
        .info-map{
           left: 55%;
        }
        .map-wrap{
            width: 48%;
        }
        .text-zone{
            width: 33%;
            top: 45%;
            margin-left: 5%;
            .har{
                left: 1%;
             }
             p{
                margin-top: -18%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            li.half{
                width: 100%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}

@media (max-width: 740px) and (min-width: 694px) {
    .contact-page{
        overflow-y: hidden;
        overflow-x: hidden;
        .info-map{
           left: 55%;
        }
        .map-wrap{
            width: 48%;
        }
        .text-zone{
            width: 35%;
            margin-left: 5%;
            .har{
                left: 1%;
                font-size: 5vh;
             }
             p{
                margin-top: -11%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            li.half{
                width: 100%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}

@media (max-width: 694px) and (min-width: 584px) {
    .contact-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .info-map{
           left: 55%;
           display: none;
        }
        .map-wrap{
            width: 48%;
            display: none;
        }
        .text-zone{
            width: 77%;
            margin-left: 9%;
            .har{
                left: 2%;
                margin-bottom: 10%;;
             }
             p{
                margin-top: -10%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            li.half{
                width: 100%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}


@media (max-width: 584px) and (min-width: 530px) {
    .contact-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .info-map{
           left: 55%;
           display: none;
        }
        .map-wrap{
            width: 48%;
            display: none;
        }
        .text-zone{
            width: 78%;
            margin-left: 10%;
            .har{
                left: 2%;
                margin-bottom: 9%;
             }
             p{
                margin-top: -10%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            li.half{
                width: 100%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}

@media (max-width: 530px) and (min-width: 450px){
    .contact-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .info-map{
           left: 55%;
           display: none;
        }
        .map-wrap{
            width: 48%;
            display: none;
        }
        .text-zone{
            width: 75%;
            margin-left: 13%;
            top: 45%;
            .har{
                left: 2%;
             }
             p{
                margin-top: -11%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            li.half{
                width: 100%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}

@media (max-width: 450px) and (min-width: 423px) {
    .contact-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .info-map{
           left: 55%;
           display: none;
        }
        .map-wrap{
            width: 48%;
            display: none;
        }
        .text-zone{
            width: 72%;
            margin-left: 15%;
            top: 45%;
            .har{
                left: 2%;
             }
             p{
                margin-top: -10%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            li.half{
                width: 100%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}


@media (max-width: 423px) and (min-width: 377px) {
    .contact-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .info-map{
           left: 55%;
           display: none;
        }
        .map-wrap{
            width: 48%;
            display: none;
        }
        .text-zone{
            width: 70%;
            margin-left: 17%;
            top: 45%;
            .har{
                left: 0%;
             }
             p{
                margin-top: -10%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            li.half{
                width: 100%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}


@media (max-width: 377px) and (min-width: 350px) {
    .contact-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .info-map{
           left: 55%;
           display: none;
        }
        .map-wrap{
            width: 48%;
            display: none;
        }
        .text-zone{
            width: 67%;
            top: 45%;
            margin-left: 20%;
            .har{
                font-size: 4vh;
                left: 0%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            margin-left: 4%;
            li{
                width: 97%;
               // margin-left: 4%;
            }
           
            li.half{
                width: 97%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}
@media (max-width: 350px) and (min-width: 313px) {
    .contact-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .info-map{
           left: 55%;
           display: none;
        }
        .map-wrap{
            width: 48%;
            display: none;
        }
        .text-zone{
            width: 67%;
            top: 45%;
            margin-left: 20%;
            .har{
                font-size: 4vh;
                left: 0%;
             }
             p{
                margin-top: -4%;
                margin-left: 5%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            margin-left: 7%;
            li{
                width: 97%;
               // margin-left: 4%;
            }
           
            li.half{
                width: 97%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}


@media (max-width: 313px) and (min-width: 298px){
    .contact-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .info-map{
           left: 55%;
           display: none;
        }
        .map-wrap{
            width: 48%;
            display: none;
        }
        .text-zone{
            width: 60%;
            height: 64%;
            top: 31%;
            margin-left: 25%;
            .har{
                font-size: 4vh;
                left: 2%;

             }
             p{
                margin-top: -15%;
                letter-spacing: 0vh;
                margin-left: 5%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            margin-left: 7%;
            li{
                width: 97%;
               // margin-left: 4%;
            }
           
            li.half{
                width: 97%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}
@media (max-width: 298px) and (min-width: 282px) {
    .contact-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .info-map{
           left: 55%;
           display: none;
        }
        .map-wrap{
            width: 48%;
            display: none;
        }
        .text-zone{
            width: 63%;
            height: 64%;
            top: 31%;
            margin-left: 23%;
            .har{
                font-size: 4vh;
                left: 2%;

             }
             p{
                margin-top: -15%;
                letter-spacing: 0vh;
                margin-left: 5%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            margin-left: 10%;
            li{
                width: 97%;
               // margin-left: 4%;
            }
           
            li.half{
                width: 97%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}
@media (max-width: 282px) {
    .contact-page{
        overflow-x: hidden;
        overflow-y: hidden;
        .info-map{
           left: 55%;
           display: none;
        }
        .map-wrap{
            width: 48%;
            display: none;
        }
        .text-zone{
            width: 63%;
            height: 64%;
            top: 31%;
            margin-left: 23%;
            .har{
                font-size: 4vh;
                left: 2%;

             }
             p{
                margin-top: -15%;
                letter-spacing: -0.2vh;
                margin-left: 7%;
             }
        }
        
    }
    .contact-form{
        .formed{
            display: flex;
            flex-direction: column;
        }
        ul{
            margin-left: 10%;
            li{
                width: 97%;
               // margin-left: 4%;
            }
           
            li.half{
                width: 97%;
                margin-left: 0%;
            }
            
        }
        
    
    }
   
}
